<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calibrate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>TesteARma.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TesteOpenCV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>simplAR.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B77B68CF19391D3700CBB8A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7CF08961940A050009A1685</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7CF08C01940AAD2009A1685</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7CF08E219410340009A1685</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
